<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Registrarse!
        </div>

        <div class="panel-body">
            <form class="form-horizontal" [formGroup]="formularioRegistro" novalidate autocomplete="off" (ngSubmit)="save()">
                <fieldset>
                    <div class="from-group" formGroupName="grupoNombre">
                        <div class="form-group" [ngClass]="{'has-error': (formularioRegistro.get('grupoNombre.nombre').touched || formularioRegistro.get('grupoNombre.nombre').dirty) && !formularioRegistro.get('grupoNombre.nombre').valid }">
                            <label class="col-md-2 control-label" for="nombreId">Nombre</label>
                            <div class="col-md-8">
                                <input class="form-control" id="nombreId" type="text" placeholder="Nombre (requerido)" formControlName="nombre" />
                                <span class="alert alert-info" *ngIf="(formularioRegistro.get('grupoNombre.nombre').touched || formularioRegistro.get('grupoNombre.nombre').dirty) && formularioRegistro.get('grupoNombre.nombre').errors">
                                    <!-- <span *ngIf="formularioRegistro.get('grupoNombre.nombre').errors.required">
                                        Please enter your first name.
                                    </span>
                                    <span *ngIf="formularioRegistro.get('grupoNombre.nombre').errors.minlength">
                                        The first name must be longer than 3 characters.
                                    </span> -->
                                    <span *ngIf="mensajeNombre.length>0">
                                        <div *ngFor="let mensaje of mensajeNombre">
                                            <p>{{mensaje}}</p>
                                        </div>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': (formularioRegistro.get('apellido').touched || formularioRegistro.get('apellido').dirty) && !formularioRegistro.get('apellido').valid }">
                        <label class="col-md-2 control-label" for="apellidoId">Last Name</label>
                        <div class="col-md-8">
                            <input class="form-control" id="apellidoId" type="text" placeholder="Last Name (required)" formControlName="apellido" />
                            <span class="alert alert-info" *ngIf="(formularioRegistro.get('apellido').touched || formularioRegistro.get('apellido').dirty) && formularioRegistro.get('apellido').errors">
                                <span *ngIf="formularioRegistro.get('apellido').errors.required">
                                    Please enter your last name.
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': (formularioRegistro.get('email').touched || formularioRegistro.get('email').dirty) && !formularioRegistro.get('email').valid }">
                        <label class="col-md-2 control-label" for="emailId">Email</label>
                        <div class="col-md-8">
                            <input class="form-control" id="emailId" type="email" placeholder="Email (required)" formControlName="email" />
                            <span class="alert alert-info" *ngIf="(formularioRegistro.get('email').touched || formularioRegistro.get('email').dirty) && formularioRegistro.get('email').errors">
                                <span *ngIf="formularioRegistro.get('email').errors.required">
                                    Please enter your email address.
                                </span>
                                <span *ngIf="formularioRegistro.get('email').errors.pattern">
                                    Please enter a valid email address.
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="telefonoId">Telefono</label>
                        <div class="col-md-8">
                            <input class="form-control" id="telefonoId" type="text" placeholder="Telefono (opcional)" formControlName="telefono" />
                        </div>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <div class="col-md-4">
                            <input type="checkbox" (click)="cambiarValidacionTelefono()" class="custom-control-input" id="mensajeTextoId" formControlName="notificacionTelefono">
                            <label class="custom-control-label small" for="mensajeTextoId">Mensaje de texto</label>
                        </div>
                        <div class="col-md-4">
                            <input type="checkbox" class="custom-control-input" id="mensajeCorreoId">
                            <label class="custom-control-label small" for="mensajeCorreoId">Correo electronico</label>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-2">
                            <span>
                                <button class="btn btn-primary btn-sm btn-block" type="submit" [disabled]="!formularioRegistro.valid">
                                    Save
                                </button>
                                <button class="btn btn-primary btn-sm btn-block" type="submit" (click)="llenarFormulario()">
                                    Datos prueba
                                </button>
                                <button class="btn btn-primary btn-sm btn-block btn-success" type="submit" (click)="vaciarFormulario()">
                                    Reset
                                </button>
                            </span>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>